/* @mixin h1 {
  font-family: "Raleway";
  font-size: 64px;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

@mixin h2 {
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


@mixin h4 {
  color: #2d3033;
  font-family: "Raleway";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

@mixin h5 {
  color: #ff4343;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

@mixin h6 {
  color: #fff;
  text-align: center;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

@mixin p {
  color: #6c7279;
  text-align: center;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
*/

/* @mixin h3($font-size, $color) {
  color: #2d3033;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  border: 1px solid black;
  h3 {
    font-size: $font-size;
    color: $color;
  }
}
 */
